@model PagedList.IPagedList<Data_Access.Model.ProductCategory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{Danh sách loại sản phẩm}
@section search{Category}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản lí</title>
</head>
<body>

    <div class="container-fluid">
        <div class="mb-3">
            @Html.ActionLink("Thêm mới loại sản phẩm", "Create", "Category", new { @class = "btn btn-success" })
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }
        </div>
        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách loại sản phẩm</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Meta Title</th>
                                <th>Vị trí hiển thị</th>
                                <th>Tiêu đề SEO</th>
                                <th>Thuộc loại</th>
                                <th colspan="2">Chỉnh sửa</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr id="row_@item.Id">
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.MetaTitle</td>
                                    <td>@item.DisplayOrder</td>
                                    <td>@item.SeoTitle</td>
                                    <td>@item.ParentId</td>
                                    <td>@Html.ActionLink("Sửa", "Edit", new { item.Id })</td>
                                    <td>
                                        @Ajax.ActionLink("Xoá", "Delete", new { item.Id }, new AjaxOptions
                                        {
                                        Confirm = "Bạn có muốn xoá "+item.Name,
                                        OnComplete = "$('#row_" + @item.Id + "').remove()",
                                        HttpMethod = "Delete"
                                        })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                    <!--Pagination-->
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page,@searchString=ViewBag.SearchString }), new PagedListRenderOptions { UlElementClasses = new[] { "pagination" }, LiElementClasses = new[] { "page-item" } })
                </div>
            </div>
        </div>
    </div>
</body>
</html>


